
* {
    margin:0;
    padding:0;
}

body {
    #font: 16px/24px 'Gisha', serif;
}

img {
    width: 100% ;
}

header h1 {
    font-family: 'Gisha', sans-serif;
    font-size: 94px;
    text-align: center;
    margin-bottom: 10px;
}
nav {
    text-align: center;
}
nav a {
    border-bottom: 3px solid #FFFFFF;
    color: #000;
    display: inline-block;
    font: 20px/28px 'Gisha', sans-serif;
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    
}
nav a:hover {
    border-bottom: 8px dotted #2E9AFE;
}

article h1 {
    margin-bottom: 8px;
    font-family: 'Gisha', sans-serif;
    font-size: 50px
}

article h2 {
    margin-bottom: 12px;
}


footer {
    text-align: center;
    background-color: #2E9AFE;
    clear: both;
    color: #ffffff;
}

footer ul {
    list-style-type: none;
}

footer li {
    color: #FFFFFF; 
    font-size: 20px;
    font: "Gisha" ;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    
}


