
* {
    margin:0;
    padding:0;
}

body {
    #font: 16px/24px 'Gisha', serif;
}

img {
    max-width: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-family: 'Gisha', sans-serif;
    font-size: 94px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 8px solid #2E9AFE;
    border-top: 8px solid #2E9AFE;
}
nav {
    text-align: center;
}
nav a {
    border-bottom: 3px solid #FFFFFF;
    color: #000;
    display: inline-block;
    font: 20px/28px 'Gisha', sans-serif;
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    
}
nav a:hover {
    border-bottom: 8px dotted #2E9AFE;
    border-top: 8px dotted #2E9AFE;
    border-left: 8px dotted #2E9AFE;
    border-right: 8px dotted #2E9AFE;
}

article h1 {
    margin-bottom: 8px;
    font-family: 'Gisha', sans-serif;
    font-size: 50px;
    text-align: center;

}

article h2 {
    font-size: 45px;
    font-family: 'Gisha', sans-serif;
    text-align: center;
    border-bottom: 8px solid #2E9AFE;
    border-top: 8px solid #2E9AFE;
}

article h3 {
    font-size: 20px;
    font-family: 'Gisha';
    text-align: inherit;
    padding-top: 20px;
}

article h4 {
    font-size: 20px;
    font-family: 'Gisha';
    text-align: inherit;
    padding-top: 20px;
}

article h5 {
    font-size: 20px;
    font-family: 'Gisha';
    text-align: inherit;
    padding-top: 20px;
}

footer {
    text-align: center;
    background-color: #2E9AFE;
    clear: both;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Gisha';
}

footer a {
    color: #FFFFFF; 
    font-size: 30px;
    font: "Gisha" ;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    
}


